{
  "swagger": "2.0",
  "host": "alpha-api-docs.dina-web.net",
  "basePath": "/v01",
  "info": {
    "description": "This is a first draft of Dina api documentation",
    "version": "1.0.0",
    "title": "Dina api",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "oberg.anton@gmail.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "tags": [
    {
      "name": "pet",
      "description": "Everything about your Pets",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "store",
      "description": "Access to Petstore orders"
    },
    {
      "name": "user",
      "description": "Operations about user",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    }
  ],
  "paths": {
    "/individualGroup": {
      "get": {
        "tags": [
          "pet"
        ],
        "summary": "Finds individualGroups",
        "description": "Here is a description",
        "operationId": "findPetsByStatus",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Status values that need to be considered for filter",
            "required": true,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "available",
                "pending",
                "sold"
              ],
              "default": "available"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/individualGroup"
              }
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        },
        "security": [
          {
            "petstore_auth": [
              "write:pets",
              "read:pets"
            ]
          }
        ]
      }
    }
  },
  "definitions": {
    "catalogedUnit": {
      "properties": {
        "catalogNumber": {
          "type": "string"
        },
        "id": {
          "type": "integer"
        },
        "individualGroup": {
          "$ref": "#/definitions/individualGroup"
        }
      },
      "required": [
        "catalogNumber"
      ]
    },
    "featureObservation": {
      "additionalProperties": false,
      "properties": {
        "appliesToIndividualGroupId": {
          "type": "integer"
        },
        "featureObservationText": {
          "type": "string"
        },
        "id": {
          "type": "integer"
        },
        "isOfFeatureObservationTypeId": {
          "type": "integer"
        },
        "version": {
          "type": "integer"
        }
      },
      "required": [
        "featureObservationText",
        "isOfFeatureObservationTypeId"
      ]
    },
    "identification": {
      "additionalProperties": false,
      "properties": {
        "appliesToIndividualGroupId": {
          "type": "integer"
        },
        "id": {
          "type": "integer"
        },
        "identificationText": {
          "type": "string"
        },
        "version": {
          "type": "integer"
        }
      },
      "required": [
        "identificationText"
      ]
    },
    "individualGroup": {
      "additionalProperties": true,
      "properties": {
        "id": {
          "type": "integer"
        },
        "version": {
          "type": "integer"
        },
        "physicalUnits": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/physicalUnit"
          }
        },
        "identifications": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/identification"
          }
        },
        "occurances": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/occurance"
          }
        },
        "featureObservations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/featureObservation"
          }
        }
      },
      "required": [
        "id"
      ]
    },
    "occurance": {
      "additionalProperties": false,
      "properties": {
        "collectorsText": {
          "type": "string"
        },
        "dayEnd": {
          "type": "string"
        },
        "dayStart": {
          "type": "string"
        },
        "id": {
          "type": "integer"
        },
        "involvesIndividualGroupId": {
          "type": "integer"
        },
        "localityText": {
          "type": "string"
        },
        "monthEnd": {
          "type": "string"
        },
        "monthStart": {
          "type": "string"
        },
        "occurrenceDateText": {
          "type": "string"
        },
        "version": {
          "type": "integer"
        },
        "yearEnd": {
          "type": "string"
        },
        "yearStart": {
          "type": "string"
        }
      },
      "required": [
        "id"
      ]
    },
    "physicalUnit": {
      "additionalProperties": false,
      "properties": {
        "belongsToCatalogedUnitId": {
          "type": "integer"
        },
        "id": {
          "type": "integer"
        },
        "isCollectedAtOccurrenceId": {
          "type": "integer"
        },
        "normalStorageLocation": {
          "type": "string"
        },
        "physicalUnitText": {
          "type": "string"
        },
        "representsIndividualGroupId": {
          "type": "integer"
        },
        "version": {
          "type": "integer"
        }
      },
      "required": [
        "id"
      ]
    }
  },
  "schemes": [
    "http"
  ],
  "securityDefinitions": {
    "petstore_auth": {
      "type": "oauth2",
      "authorizationUrl": "http://petstore.swagger.io/oauth/dialog",
      "flow": "implicit",
      "scopes": {
        "write:pets": "modify pets in your account",
        "read:pets": "read your pets"
      }
    },
    "api_key": {
      "type": "apiKey",
      "name": "api_key",
      "in": "header"
    }
  }
}